@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

p {
  font-family: 'DM Mono';
  font-weight: 300;
  color: #2F281E;
  font-size: 14px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #F3F5FC;
}

.bg-primary {
  background-color: #6D9886 !important;
}

.btn-primary {
  font-family: 'Poppins';
  background: #6D9886;
  border: none;
  color: white;
}

.btn-primary:hover {
  font-family: 'Poppins';
  background: #5d8172;
  border: none;
  color: white;
}
.btn-primary:focus {
  font-family: 'Poppins';
  background: #5d8172;
  color: white;
}

.btn-costum-secondary {
  font-family: DM Mono;
  background: #FE7E6D !important;
  color: white;
  border-radius: 20px;
  border: none;
}

.btn-costum-secondary:hover {
  font-family: DM Mono;
  background: #D46D5F !important;
  color: white;
  border-radius: 20px;
  border: none;
}